{% load static %}
<nav class="navbar">
<div class="nav-left">
    <img src="{% static "core/images/logo.png" %}" alt="NoCon" class="nav-logo">
    <form class="nav-search">
    <input type="text" placeholder="Поиск постов..." name="q">
    </form>
</div>
<div class="nav-right">
    <a href="/tierlists/" class="nav-btn"><span>Тир-листы</span></a>
    <a href="/plans/" class="nav-btn"><span>Планы</span></a>
    <a href="/characters/" class="nav-btn"><span>Персонажи</span></a>
    <a href="/chats/" class="nav-btn"><span>Чаты</span></a>
    <a href="/user/profile/" class="nav-btn"><span>Профиль</span></a>
    <a href="/user/logout_user/" class="nav-btn logout"><span>Выход</span></a>
</div>
</nav>