{% extends "lists/base.html" %}
{% load static %}

{% block content %}
<body class="bg">
    <div class="container">
        <div class="button-row">
            <a href="{% url 'characters' %}" class="btn neon-btn">К персонажам</a>
        </div>
        <h1 class="page-title">Создание персонажа</h1>

        <form method="POST" enctype="multipart/form-data" class="character-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn neon-btn">Сохранить</button>
        </form>
    </div>
</body>
{% endblock %}
